/*-
-
-
-
-
background and image
-
-
-
-
-
*/

body {
  background-image: url(evelyn-mostrom-59210-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ddd8d8;
}

.photo_attribution {
  position: absolute;
  right: 0;
  bottom: 0;
}

/*
-
-
-
-
-
Nav
-
-
-
-
-
*/

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0 0 0 0;
  margin: 1.2em 0 0 1.2em;
  height: 3em;
}

.nav_component {
  padding: 0 0 0 0;
  margin: 0 1em 0 0;
}

.nav_component a {
  color: #035454;
  font-size: 1.5em;
  text-decoration: none;
}

.nav_component a:active {
  color: #008080;
  font-size: 1.5em;
  text-decoration: underline;
}

.nav_component a:hover {
  color: #008080;
  font-size: 2em;
  text-decoration: none;
}

/*
-
-
-
-
-
Main Page
-
-
-
-
-
*/

.page_body {
  padding: 0 0 0 0;
  margin: 0 0 0 1.2em;
}

.site_title {
  padding: 0 0 0 0;
  margin: 0 0 0 2em;
  font-size: 7em;
}

.page_title {
  padding: 0 0 0 0;
  margin: 0 0 0 2em;
  font-size: 5em;
}

.page_content {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  max-width: 1000px;
  font-size: 2.2em;
}

a {
  color: ;
  font-size: ;
  text-decoration: ;
}

a:active  {
  color: ;
  font-size: ;
  text-decoration: ;
}

a:hover {
  color: ;
  font-size: ;
  text-decoration: ;
}
