body {
  background-image: url(evelyn-mostrom-59210-unsplash.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #ddd8d8;
}
